# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = yp.settings

[deploy:docker]
url = http://scrapyd:6800/
project = yp
